{% extends "base.html" %}

{% block content %}

<p class="lead"><strong>Deep Tech with purpose</strong></p>

<div class="container">

  <p>Artificial Intelligence, Deep Learning, Blockchain, Big Data&hellip; The world of digital technology is boiling. Numbers of startups are booming everywhere, and all industries have started their &ldquo;Digital Transformation&rdquo; journey. We are not talking any more of change, but of &ldquo;disruption&rdquo;. Huge companies know that if they don&rsquo;t adapt quickly, they could see their business model collapse almost overnight.</p>
  <p>In this personal homepage I am exploring the wonderland of Deep Tech. I am focusing in particular on Web applications, Data analytics, Visualization, Machine Learning, Deep Learning, and Blockchain.</p>
  <a class="btn btn-primary btn-sm" href="#" role="button">Read more</a>

</div>

{% endblock %}
