{% extends "base.html" %}

{% block content %}

<div class="container">
    <form method="POST">
    {{ form.hidden_tag() }}

    <div class="">
      <h2>Login</h2><br>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.email.label(class="form-group") }} {{ form.email(class="form-control") }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.password.label(class="form-group") }} {{ form.password(class="form-control") }}
      </div>
    </div>
    <br>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>

{% endblock %}
